<header class="header">
   <div class="container-fluid">
      <nav class="navbar top-navbar navbar-expand navbar-light">
         <a class="navbar-brand" [routerLink]="['/generic/dashboard']"><img src="assets/images/colleps.jpg"
               alt="Dashboard"></a>
         <div class="brand-info">
          
         </div>
         <div class="navbar-collapse">
                       <ul class="navbar-nav align-items-center" id="topright_menu">
               <li class="nav-item w-100">
                  <ul class="navbar-nav nav-right align-items-center justify-content-end">
                     <li class="nav-item dropdown user-info" [ngClass]="{'show': isClassVisible }">

                        <a class="d-flex justify-content-end text-white align-items-center" style="cursor: pointer"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           <i class="fa fa-user profile"></i>
                           <span class="user">
                              <b>Welcome to: {{userName}}</b>
                           
                           </span>
                           <span></span>
                         
                           <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu multi-level list-unstyled dropdown-menu-right animated fadeInLeft"
                           (mousehover)="isClassVisible = !isClassVisible;">

                           <li>
                              <a (click)="logout()">
                                 <i class="fa fa-lock"></i> Logout</a>
                           </li>
                         
                        </ul>
                     </li>
                  </ul>
               </li>
            </ul>
         </div>
      </nav>
   </div>
</header>
