.nav-scroller {
    position: relative;
    z-index: 2;
    /* //height: 2.75rem; */
    overflow-y: hidden;
    /* // margin-top: -2em; */
    
}
.nav-scroller nav {
    /* // margin-right: -1em; */
    padding: 0.5rem 0;
}
.bg-white {
    background-color: #fff!important;
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}