<div class="navbar1" style="background-color: #fff; padding:3px 0 2px 3px;">
        <a class="navbar-brand" [routerLink]="['/generic/dashboard']"><img src="assets/images/dashboard.png" width="200"
                        alt="logo"></a>
</div>
<aside id="sidebar" class="sidepanel " [ngClass]="{'collapse': isCloseVisible}">
        <ul class="navbar-nav">
                <li><a routerLink="dashboard/category" routerLinkActive="active">Category</a></li>
                <li><a routerLink="dashboard/product">Product</a></li>
                <li><a routerLink="dashboard/order">Order</a></li>
        </ul>
</aside>