.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

:host ::ng-deep .ui-table table td, th {
  border-bottom: 1px solid rgb(212, 212, 212) !important;
}

/* :host ::ng-deep .ui-table table th {
  background: #ece7df !important;
} */
:host ::ng-deep .ui-table table tr:nth-child(even) {
  background: #fdfcfb !important;
}