<!-- <p-toast></p-toast> -->


<!-- <p-table [value]="categoryList" dataKey="_id" editMode="row" [scrollable]="true" [paginator]="true" [rows]="7"> -->
  <ng-template pTemplate="header">
      <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Image</th>
         <th>Action</th>
          <!-- <th style="width:8rem"></th> -->
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-dataList let-editing="editing" let-ri="rowIndex">
      <!-- <tr [pEditableRow]="dataList"> -->
        <tr> 
          <td>
              <!-- <p-cellEditor> -->
                  <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="dataList._id">
                  </ng-template>
                  <ng-template pTemplate="output">
                      {{dataList._id}}
                  </ng-template>
              <!-- </p-cellEditor> -->
          </td>
          <td>
              <!-- <p-cellEditor> -->
                  <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="dataList.name" required>
                  </ng-template>
                  <ng-template pTemplate="output">
               {{dataList.name}}
                  </ng-template>
              <!-- </p-cellEditor> -->
          </td>
          <td>
              <!-- <p-cellEditor> -->
                  <ng-template pTemplate="input">
                      <!-- <p-dropdown [options]="statuses" [(ngModel)]="dataList.inventoryStatus" [style]="{'width':'100%'}"></p-dropdown> -->
                      <input pInputText type="text" [(ngModel)]="dataList.image" required>
                    </ng-template>
                  <ng-template pTemplate="output">
                      {{dataList.image}}
                  </ng-template>
              <!-- </p-cellEditor> -->
          </td>
          <!-- <td>
              <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="dataList.price">
                  </ng-template>
                  <ng-template pTemplate="output">
                      {{dataList.price | currency: 'USD'}}
                  </ng-template>
              </p-cellEditor>
          </td> -->
          <td style="text-align:center">
              <!-- <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(dataList)" class="p-button-rounded p-button-text"></button>
              <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(dataList)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
              <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(dataList)" class="p-button-rounded p-button-text p-button-danger"></button>
              <button *ngIf="!editing"   pButton pRipple type="button" pInitEditableRow_ icon="pi pi-trash" (click)="onRowDeleteInit(dataList)" class="p-button-rounded p-button-text"></button> -->
               </td>
      </tr>
  </ng-template>
<!-- </p-table> -->
