:root {
    --blue: #00416a;
    --white: #ffffff;
    --aliceblue:#edf2f4;
    --darkblue:#ffffff;
    --deepblue:#00416a;
    --linkcolor:#3694bd;
}
/*********************************************/
html{font-size:62.5%; height:100%;}
/* html, body{height:100%;} */
body{font-family: 'Roboto', sans-serif; height:100%; font-size:1.6rem; overflow:hidden;}
a{color:var(--linkcolor); text-decoration:underline;}
a, a:focus, button, button:focus{outline:none;}
.btn{font-size:1.4rem; line-height:2.2rem; border-radius:30px; padding:.4rem 2rem; font-weight:300; border:0;}
.btn:focus, .btn:active{outline:none; box-shadow:none;}
.btn-primary{background-color:#0077C6;}
.btn-success{background-color:#73c167; color:#002741;}
.btn-info{background-color:#7a99ac;}
.btn-outline{background:none; border:1px solid #73c167;}
.form-inline .form-group{margin-bottom:20px;}
.form-inline label {justify-content: left;}
.form-control{background-color:var(--white); border-color:var(--darkblue); font-size:1.2rem;}

.dropdown-menu {
    font-size: 1.4rem;
}
.dropdown-item{text-decoration:none;}
.word-break-all{word-break: break-all !important;}
textarea{height:100px;}
/* .mCSB_inside > .mCSB_container { */
    /* margin-right: 0; */
/* } */
/******************************/

/*********************************/
.login-wrapper{/*background-color:#00416a; background-color:#b77332;*/ background-color: #bb7838d9; display:flex; width:100%; height:100%; justify-content: center; align-items: center;}
.login-wrapper .login-box{background-color:#fcfcfc; min-width: 450px; padding: 100px 80px 60px 80px; /*min-width: 490px; padding: 40px 80px; border-radius: 3px;*/}
.login-wrapper .login-box h2 { text-align: center; margin: 0 0 30px;}
.login-wrapper .login-box .form-group{position:relative; margin: 30px 0 0;}
.login-wrapper .login-box .form-group span { position: absolute; top: 5px; left:5px; z-index:0; transition:all .1s ease-in;}
.login-wrapper .login-box .form-group .form-control { 
    
    /* border: 0;    background: none;    border-bottom: 1px solid #ccc;    border-radius: 0; position:relative; z-index:1; padding-left:0; */
    border: 0;
    background-color: #f5caa4 !important;
    /* border-bottom: 1px solid #ccc; */
    border-radius: 0;
    position: relative;
    z-index: 1;
    padding: 10px;
    /* border-radius: 25px; */
}
.login-wrapper .login-box .form-group .form-control:focus{
    /* border-bottom:2px solid #9E9E9E;  */
    background-color:#faf2eb;
}
.login-wrapper .login-box .form-group .form-control:focus + span, .login-wrapper .login-box .form-group .form-control:valid + span {
    top: -20px;
    left: 0;
    font-size: 90%;
    color: #b77332;
}
.login-wrapper .login-box .btn-bar .btn {
    display: block;
    /* width: 50%; */
    /* padding: 5px 10px; */
    text-align: center;
    /* margin: 10px auto; */
    cursor:pointer;
    float: right;
    /* border-radius: 25px; */
    background-color:#a36229;
}


.login-wrapper .login-box .btn-bar {
    text-align: center;
}

.login-wrapper .login-box .signup {
    text-align: center;
    background-color: #f2f2f2;
    margin: 20px -80px -40px;
    padding: 20px;
}

.login-wrapper .login-box .signup .btn {
    background-color: #fff;
    border-radius: 0;
    margin-left: 10px;
	cursor:pointer;
}

/**********************************/
/* header{background-color:var(--blue); max-height:65px;} */
header{background-color:var(--white); max-height:65px; border-bottom: 1px #d8dbe0 solid;}
header .navbar{    align-items: center;  justify-content: space-between;   color:var(--white);    font-size: 16px; padding-right: .5rem;}
.navbar-expand {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.navbar-expand .navbar-collapse {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}

.navbar-expand .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
.navbar-expand .navbar-nav .nav-link {
    padding-right:1rem;
    padding-left: 1rem;
	font-size:1.6rem;
    color:var(--white);
}
.navbar-expand .navbar-nav .nav-link:hover, .navbar-expand .navbar-nav .nav-link:focus{color:var(--white);}
/************************************/
.whitebox{
  border-style: solid;
  border-width: 0;
  border-color: rgba(100, 100, 100,0.2);
  background-color: rgb(255, 255, 255);
  /* box-shadow: 0px 0px 13.28px 2.72px rgba(163, 182, 192, 0); */
  box-shadow: 1.5px 2.598px 15px 0px rgba(0, 0, 0, 0.051);
  padding: 20px;
  font-size:16px;
}

.whitebox h3{margin: 0 0 30px; font-size:20px;}

.innerbox{
    background-color: var(--aliceblue);
    padding: 20px;
    margin-bottom:20px;
}

.innerbox h3{margin: 0 0 30px; font-size:20px;}

.rounded-1{border-radius:10px;}
.rounded-2{border-radius:20px;}
.rounded-3{border-radius:30px;}
.rounded-4{border-radius:40px;}

.pageheading{font-size:2.4rem; font-weight:bold; color:var(--deepblue); margin-bottom:20px;}
.heading-border{border-bottom:1px solid var(--darkblue);}
.listitem{margin:15px 20px; padding:0;}
.listitem li{    line-height: 24px;    margin-bottom: 4px;}

.search-notifications{padding:0; font-size:14px;}
.search-notifications li{margin-bottom:20px;}
.search-notifications span{font-size:11px;}
.icon-circle {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.select2-container{width:100% !important;}
 .select2-container--default .select2-selection--single{padding:5px; height: auto;}
 .select2-container--default .select2-selection--single .select2-selection__arrow{top:8px;}
 
.search-date-form{}
.search-date-form .form-group{}
.search-date-form .form-group label{min-width:200px;}
.search-date-form .form-group textarea{min-height:200px;}

.scrollbox {
    height: 220px;
    overflow: auto;
    border: 1px solid #eaeaea;
    padding: 15px;
}

.nav-toggle{background:none; border:0; cursor:pointer;     font-size: 26px;}

.navbar-light .navbar-nav .user-info .nav-link img {
    border: 2px solid var(--white);
    border-radius: 100%;
	float:left;    position: relative;    top: -7px;
}

.navbar-light .navbar-nav .user-info .nav-link {
    color: var(--white);
    display: block;
    text-indent: 9px;
	text-decoration:none;
}
.navbar-light .navbar-nav .nav-link .fa-power-off {color: #64b15e;}
.navbar-light .navbar-nav .user-info .nav-link span{display:block; font-size:12px; font-weight: bold; color:var(--white);}

#topright_menu{   
     /* min-width: 26rem;     */
    justify-content: space-between;}

/*****************Content *******************/
.layout_container{display:flex; height:100%; font-size: 1.4rem; margin-bottom:2rem;}
.whitebox h2{    font-size: 23px;    margin: 0 -20px 20px;    border-bottom: 1px solid #e3e3e3;    padding: 0 20px 20px;}
.whitebox h2 span{border-bottom:2px solid #8dc63f; padding-bottom:5px;}
.whitebox h3{    font-size:15px;    margin: 0 -20px 20px;   padding:10px; background-color:#00416a; color:#fff;}


fieldset.filter {
    border: 1px solid #dfdfdf;
    margin: 0 2px 20px;
    padding: .35em .625em .75em; font-size:16px;
}
fieldset.filter legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
	width:auto;
    padding: 0;
	font-size:16px;
	color:#00416a;
    white-space: normal;
}


.table td, .table th{border-color:var(--darkblue);}
.table thead th{border-bottom:1px solid var(--darkblue);}
.table-striped thead th{background-color:#00416a; color:#fff; font-weight: 300;  font-size: 15px;}
.table-striped thead th span.arrows{background-image:url(../images/arrows.png); background-repeat:no-repeat; background-position:right center; padding-right:20px;}
/* .table-striped tbody td{font-size:12px;} */
.table-striped tbody tr:nth-of-type(odd) {
    background-color:#e1ebf9;
}
.table-striped tbody tr:nth-of-type(even) {
    background-color:#f6faff;
}


.table-bordered td, .table-bordered th {
    border: 1px solid #9aacb7;
}

.table-borderless tbody+tbody, .table-borderless td, .table-borderless th, .table-borderless thead th {
    border: 0;
}

.table-hover thead th{background-color: var(--aliceblue);}
.table-hover thead th span.arrows{background-image:url(../images/arrows.png); background-repeat:no-repeat; background-position:right center; padding-right:20px;}
.table-hover tbody tr:hover {background-color:#f5f8fa;}

.sidepanel{min-width:145px;  /*max-width: 145px;*/ height:100%; transition:width .1s ease-out; position:relative; overflow: auto; margin-top:2rem; /*margin-right:.5rem; margin-left: .5rem;*/} 
.sidepanel.close{width:0px;}
.sidepanel .mCSB_inside > .mCSB_container { margin-right:0;}

.sidepanel ul{font-size:1.2rem; color:#fff;}
.sidepanel ul li{margin-bottom:1px;}
.sidepanel ul li a{color:#f3f3f3; display:block; text-transform:uppercase; text-align:left;
    /*background-color:#0c79ac;*/ padding:10px; text-decoration:none; font-weight:500;}
.sidepanel ul li a:hover, .sidepanel ul li a.active{background-color:#e0af85; text-decoration:none; /*color:var(--deepblue);*/ color:#5a3007;}
.sidepanel ul li a i {display: block; background-image: url(../images/sideicon.png);     background-repeat: no-repeat; margin:0 auto;}
.sidepanel ul li a .icon-1{width:36px; height:28px; background-position:-53px 0;}
.sidepanel ul li a:hover i, .sidepanel ul li a:focus i, .sidepanel ul li a.active i{background-position-x:0;}
.sidepanel ul li a .icon-2{width:36px; height:28px; background-position:-53px -40px;}
.sidepanel ul li a .icon-3{width:36px; height:41px; background-position:-53px -80px;}
.sidepanel ul li a .icon-4{width:36px; height:40px; background-position:-53px -132px;}
.sidepanel ul li a .icon-5{width:36px; height:40px; background-position:-53px -183px;}
.sidepanel ul li a .icon-6{width:36px; height:40px; background-position:-53px -240px}

/*
.sidepanel::-webkit-scrollbar {  width: 6px; }
.sidepanel::-webkit-scrollbar-track { box-shadow: inset 0 0 5px grey;  border-radius:0; } 
.sidepanel::-webkit-scrollbar-thumb { background:#aaaaaa;  border-radius: 0; }
.sidepanel::-webkit-scrollbar-thumb:hover { background: #6c757d; }
*/



.rightpanel{width:25rem; margin-top: 2rem;   margin-left: 1rem;    margin-right: 2rem;     padding-right: 1rem; overflow:auto;}
/*
.rightpanel::-webkit-scrollbar {  width: 6px; }
.rightpanel::-webkit-scrollbar-track { box-shadow: inset 0 0 5px grey;  border-radius:0; } 
.rightpanel::-webkit-scrollbar-thumb { background:#aaaaaa;  border-radius: 0; }
.rightpanel::-webkit-scrollbar-thumb:hover { background: #6c757d; }
*/


ul.list-unstyled li {
    margin-bottom: 0px;
}
ul.list-styled-dot{list-style:disc; color:var(--darkblue); padding:0 2rem;}
ul.list-styled-dot p{color:black;}

.radiobox + label{position:relative; display:flex; align-items:center; padding-left:30px;}
.radiobox + label:before{content:""; width:20px; height:20px; position:absolute; background-color:#fff; border-radius:100%; border:1px solid #394a62; left:0;}
.radiobox{display:none;}
.radiobox:checked  + label:after{content:""; background-color:#52850d; width:8px; height:8px; position:absolute; border-radius:100%; left:6px;}

.checkbox ~ label{position:relative; display:flex; justify-content:center; align-items:center;}
.checkbox ~ label:before{content:"";width:22px; height:22px; background-color:#fff; border:2px solid #64b15e; display:inline-flex; margin-right:10px;}
.checkbox{display:none;}
.checkbox:checked  ~ label:before{background-color:#52850d; border:1px solid #ccc;}

.modal{font-size:1.4rem;}
.modal-header{position: relative;padding: 0; border-color:var(--darkblue);}
.modal-header .modal-title {font-size:1.6rem; color:var(--deepblue);  margin: 0;    padding:1rem 2rem;    width: 100%; display: flex;
    justify-content: space-between;    align-items: center;}

.search-header {
    background-color: var(--aliceblue);
    color: var(--deepblue);
    padding: 1rem 3rem;
    border-top:1px solid var(--darkblue); border-bottom:1px solid var(--darkblue);
    margin-bottom: 2rem;
}
.search-header .form-inline .form-group{margin-bottom:0;}
.search-header .form-inline .form-group label {margin-right: 10px; font-size: 1.6rem;  font-weight: bold;}
.search-header .form-inline .form-group .form-control{padding:7px 15px; min-width:500px; color:#011a2a;}


.infobtn{box-shadow: 1px 1.732px 2px 0px rgba(0, 0, 0, 0.035); display:inline-block; border:1px solid  rgb(229, 229, 229);     padding:4px 14px;
    border-radius: 30px; display: inline-flex;    align-items: center; margin:4px; font-size:1.3rem; cursor:pointer;}
.infobtn i {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    display: inline-block; margin-right:8px;
	border:1px solid transparent;
}
.infobtn:hover, .infobtn.active{background-color:#7a99ac; color:#fff;}
.infobtn:hover i, .infobtn.active i{border:1px solid;}

.infobtn .bg-success{background-color:#3da22e !important;}
.infobtn .bg-danger{background-color:#fe4115 !important;}
.infobtn .bg-warning{background-color:#ffc000 !important;}

.comments {
    text-align: right;
    margin: 20px 0 0;
}

.comments .infobtn{cursor:pointer;}
.comments .infobtn i{border:1px solid;}
.comments .infobtn:nth-child(1):hover, .comments .infobtn:nth-child(1).active{background-color:#73c168 !important;}
.comments .infobtn:nth-child(2):hover, .comments .infobtn:nth-child(2).active{background-color:#e77b68 !important;}
.comments .infobtn:nth-child(3):hover, .comments .infobtn:nth-child(3).active{background-color:#ffc668 !important;}

.commentbox{display: flex; margin: 20px 0;}
.commentbox textarea{height:100px;}	
.drag_drop{border:2px dashed #ccc; background-color:#f4f4f4; padding:10px; text-align:center;}	

.list-style{list-style:decimal;}

.seprator {
    border-right: 2px solid #ccc;
}

.highlight_status{background-color:#fff;}

/***********Sticky Footer**********/
body { display: flex;  flex-direction: column;}
.content-wrapper {flex: auto;  overflow-y: auto; margin-top: 0rem;  /*margin-top: 2rem; */  overflow-x: hidden; overflow-y: overlay;}
/*
.content-wrapper::-webkit-scrollbar {  width:10px; }
.content-wrapper::-webkit-scrollbar-track { box-shadow: inset 0 0 5px #f7f7f7;  border-radius:30px; } 
.content-wrapper::-webkit-scrollbar-thumb { background:#eee;  border-radius: 30px; }
.content-wrapper::-webkit-scrollbar-thumb:hover { background: #6c757d; }

.modal-open .modal::-webkit-scrollbar {  width: 6px; }
.modal-open .modal::-webkit-scrollbar-track { box-shadow: inset 0 0 5px grey;  border-radius:0; } 
.modal-open .modal::-webkit-scrollbar-thumb { background:#aaaaaa;  border-radius: 0; }
.modal-open .modal::-webkit-scrollbar-thumb:hover { background: #6c757d; }
*/


/* footer {  flex-shrink: 0; padding:20px 0; font-size:14px; min-height:100px;} */

footer {  flex-shrink: 0; padding:10px 0; font-size:12px; margin-top: 2.0em !important;}

/* Mobile CSS -  Don't write css below this */
@media(max-width:1280px){
	body, .whitebox{font-size:1.2rem;}
}

select.form-control:not([size]):not([multiple]) {
    height:auto;
}

.plus_btn {
    padding: 8px 16px;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-tabs {
    border-bottom: 1px solid var(--darkblue);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff;
    background-color: var(--deepblue);
    border: 0;
    text-decoration: none;
    font-weight: bold;
}
.nav-tabs .nav-item {
    margin-bottom: -2px;
}

/************************************/
/* *::-webkit-scrollbar, */
/* *::-webkit-scrollbar-thumb { */
  /* width: 30px; */
  /* border-radius:15px; */
  /* background-clip: padding-box; */
  /* border: 10px solid transparent; */
    /* color:rgba(0,0,0,0); */
/* } */
*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width:8px;
  border-radius:15px;
  border: 2px solid transparent;
  color:rgba(0,0,0,0);
}
*::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 10px;
}
*:hover::-webkit-scrollbar-thumb{
color: rgba(0, 0, 0, 0.5);   
}

/****************************/
.toggle_btn .checkbox:checked ~ label:before {
    background-color: #73c167;
}

.toggle_btn .checkbox:checked ~ label:after {
    content: "\f00c";
    position: absolute;
    color: #fff;
    left: 4px;
    font-family: fontawesome;
}

.w-300{width:300px;}

/********************************/
.browse-files {
    background-color: #f4f4f4;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
	flex-direction:column;
	margin:3rem 0;
    border: 3px dotted #ccc;
}

.browse-files .file-upload {
	position: relative;
	display: inline-block;
}

.browse-files .file-upload__label {
  display: block;
  padding: .6em 2em;
  transition: background .3s;
}
    
.browse-files .file-upload__input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    width:0;
    height: 100%;
    opacity: 0;
}

/************************************************/
.search {
  position: absolute;
  top:9%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.search * {
  outline: none;
  box-sizing: border-box;
}
.search__wrapper {
  position: absolute;
  right:5px;
}
.search__field {
  width: 50px;
  height: 40px;
  color: transparent;
  font-family: Lato, sans-serif;
  padding: 0.35em 50px 0.35em 15px;
  border: 1px solid transparent;
  border-radius: 0;
  cursor: default;
  transition: all 0.3s ease-in-out;
  background:none;
  opacity: 0;
}
.search__field.focus {
  border-bottom-color:transparent;
  width: 20vw;
  color: #000;
  cursor: default;
  background:#97b5c7;
  opacity:1;
}
.search__field.focus ~ .search__icon {
  background-color: transparent;
  cursor: default;
  pointer-events: auto;
  color: #000;
}
.search__icon {
  position: absolute;
  top: 0;
  right: 0;
  background:none;
  color:#fff;  
  width: 40px;
  height:40px;
  font-size: 1.35em;
  text-align: center;
  border-color: transparent;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.2s ease-in-out;
}
.search__field::-webkit-input-placeholder {
  position: relative;
  top: 0;
  left: 0;
  transition-property: top, color;
  transition-duration: .1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.search__field:-moz-placeholder {
  position: relative;
  top: 0;
  left: 0;
  transition-property: top, color;
  transition-duration: .1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.search__field::-moz-placeholder {
  position: relative;
  top: 0;
  left: 0;
  transition-property: top, color;
  transition-duration: .1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.search__field:-ms-input-placeholder {
  position: relative;
  top: 0;
  left: 0;
  transition-property: top, color;
  transition-duration: .1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.search__field::-webkit-input-placeholder[style*=hidden] {
  color: #83b0c1;
  font-size: .65em;
  font-weight: normal;
  top: -20px;
  opacity: 1;
  visibility: visible !important;
}
.search__field:-moz-placeholder[style*=hidden] {
  color: #83b0c1;
  font-size: .65em;
  font-weight: normal;
  top: -20px;
  opacity: 1;
  visibility: visible !important;
}
.search__field::-moz-placeholder[style*=hidden] {
  color: #83b0c1;
  font-size: .65em;
  font-weight: normal;
  top: -20px;
  opacity: 1;
  visibility: visible !important;
}
.search__field:-ms-input-placeholder[style*=hidden] {
  color: #83b0c1;
  font-size: .65em;
  font-weight: normal;
  top: -20px;
  opacity: 1;
  visibility: visible !important;
}

/*********************/
.querylist{margin:0; padding:0; list-style:none;}
.querylist .info{display:inline-flex; flex-wrap: wrap;}
.querylist .info:nth-child(1) {
    min-width: 40%;
}
.font-size-medium{font-size:16px !important;}

/*******************/
.info-table{width:100%;}
.info-table .select td{background-color:lightgreen;}
.info-table thead th, .info-table tbody td{font-size:80%; vertical-align:top; padding: .75rem;}
input[type=checkbox].check {
    position: relative;
}

input[type=checkbox].check:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    z-index: 0;
    border: 2px solid #A9ABAE;
    border-radius: 1px;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    -ms-transition: .2s;
    transition: .2s;
    background: #fff;
	display:flex;
	align-items:center;
	justify-content:center;
}

input[type=checkbox].check:checked:before {
    content: "\f00c";
    font-family: fontawesome;
	font-size: 10px;
}

.p-highlight{border:2px dashed; border-color:rgba(0,0,0,0.3); padding:0;}
.p-highlight.bg-success{background-color:#e8ffe8!important;}
.p-highlight.bg-primary {background-color: #d1e2f1!important;}
.p-highlight.bg-warning {background-color: #ffeed6!important;}
.p-highlight.bg-danger {background-color: #ffe5e5!important;}

.disabled{    background-color: #f3f3f3;   border-color: #dad9d9; color:#999;}
.disabled:focus{   background-color: #f3f3f3;   border-color: #dad9d9; color:#999; }
.table.vertical-align-center td{ vertical-align: center;}

/****************/
.no-arrow .dropdown-toggle:after{content:none;}
.filter-dropdown .dropdown-item{background-color:#f5f5f5; margin:7px 0; color:#3288d9;}

/**********************/
span.highlight_info {
    display: table;
    background-color: lightgreen;
    margin:0;
    padding:4px 5px;
    color:rgba(255, 255, 255, .9);
	font-size: 1.1rem;
}
.bg-success .highlight_info{background-color:#008d67;}
.bg-primary .highlight_info{background-color:#006a9c;}
.bg-warning .highlight_info{background-color:#ca744c;}
.bg-danger .highlight_info{background-color:#ca5a8e;}

span.highlight_info>span {
    border: 1px solid rgba(255,255,255,0.6);
    margin: 2px 4px;
    padding: 3px 6px;
    /* background-color: rgba(0,0,0,0.4); */
    display: inline-flex;
}

/******************/
.switch{margin:0; padding:0;}
.switch [type="checkbox"]:not(:checked), .switch [type="checkbox"]:checked {
    position: absolute;
    pointer-events: none;
    opacity: 0;
}

.switch input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}


.switch .lever {
    position: relative;
    display: inline-block;
    margin:0 .5rem;
    margin-right:0;
    vertical-align: middle;
    content: "";
    background-color: #818181;
    border-radius: .9375rem;
    width:1.6rem;
    height:.6375rem;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
}


.switch input[type="checkbox"]:checked+.lever {
    background-color:#bbe2b8;
}

.switch .lever:after {
    position: absolute;
    top:-.2075rem;
    left: -.3125rem;
    display: inline-block;
    content: "";
    background-color: #f1f1f1;
    border-radius: 1.3125rem;
    -webkit-box-shadow: 0 0.0625rem 0.1875rem 0.0625rem rgba(0,0,0,0.4);
    box-shadow: 0 0.0625rem 0.1875rem 0.0625rem rgba(0,0,0,0.4);
    width:1.0125rem;
    height:1.0125rem;
    -webkit-transition: left .3s ease,background .3s ease,-webkit-box-shadow 1s ease;
    transition: left .3s ease,background .3s ease,-webkit-box-shadow 1s ease;
    transition: left .3s ease,background .3s ease,box-shadow 1s ease;
    transition: left .3s ease,background .3s ease,box-shadow 1s ease,-webkit-box-shadow 1s ease;
}

.switch input[type="checkbox"]:checked+.lever:after {
    left:.9rem;
    background-color:#24c11a;
}

/************/
.drop-date-range{    background-color: #fff;
    border: 1px solid var(--darkblue);
    padding:0.355rem .65rem 0.355rem 0;
    border-left-color: #fff;
    margin-left: -2px;
	height:30px;
    }
/******************/
.data_change{border:1px solid #888; display:inline-block; padding:1px 4px;}    

.policy_status{background-color:#fff;     box-shadow: 0 0px 5px 0px #eee;}
.policy_status i{    width: 20px;
    height: 20px;
    display: inline-flex;
    /* background-color: #eee; */
    background-color: #5cb85c !important;
    align-items: center;
    justify-content: center;}

/******************/    
.drop-date-range .dropdown-toggle::after{margin-left:0;}

/*****************/
#policy_tab .querylist .info:nth-child(1) {
    min-width:65%;
    max-width:65%;
    word-break: break-all;
}
#policy_tab .querylist .info:nth-child(2) {
    justify-content: flex-end;
}
